/*
 * Base structure
 */

 html,
 body {
   height: 150%;
   color : #fff;
   font-family: 'Roboto', sans-serif;
   text-shadow: 0 0.15rem .1rem rgba(0, 0, 0, .5);
   z-index: 1;
  /* background-repeat:no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url('../img/background.jpg');*/
  background: linear-gradient(70deg, #555, #444, #333);
  background-size: 120% 120%;
  animation: moveFocus 5s ease infinite alternate;
 }


/*
 * Navigation Bar
 */

 .masthead {
   margin-right: auto;
   float: center;
 }

 .nav-masthead .nav-link {
   font-size: 18px;
   font-weight: 700;
   color: rgba(255, 255, 255, .5);
   border-bottom: .15rem solid transparent;
 }

 .nav-masthead .active{
   color: #fff;
   border-bottom-color: #fff;
 }

 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus {
   border-bottom-color: rgba(255, 255, 255, .25);
 }

 .nav-masthead .nav-link {
   max-width: 14%;
   margin: 0.7rem;
   margin-right: 1.5rem;
 }

/*
 * Information
*/

[data-tooltip] {
  position: relative;
  z-index: 0;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin-left: -80px;
  margin-bottom: 10px;
  width: 100%;
  padding: 1rem;
  -webkit-border-radius: 1vmax;
  -moz-border-radius: 1vmax;
  border-radius: 1vmax;
  background-color: #666;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1.3vmax;
  line-height: 1.2;
}

[data-tooltip]:after {
  font-weight: 100;
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*
 * Container
*/

.about-container {
  max-width: 98%;
  margin : auto;
}

a:hover{
  text-decoration: none;
}

.title{
  visibility: hidden;
  font-size: 70px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #999;
}

.title:hover{
  color: #ccc;
}

main{
  padding: 5rem 0 4rem 0;
}

/*
 * Skills and Interest
*/

.center{
  margin-top: 5%;
  margin-bottom: 5%;
}

.about{
  display: flex;
  margin: auto;
}

.about .left{
  flex:50%;
  font-weight: 400;
  float:left;
}

.about .right{
  flex:50%;
  float:right;
}

.parallel{
  display: flex;
  flex-direction:column;
}

.parallel .up{
  float:left;
}

.parallel .down{
  float:right;
}

.geetha-left{
  padding: 1rem;
  padding-left: 2rem !important;
  margin: 0 0 5px 0;
  margin-right: auto;
  border-radius: 0 3rem 3rem 0;
}

.just-geetha-left{
  border-left: .25rem solid;
}

.just-geetha-right{
  border-right: .25rem solid;
}

.geetha-right{
  padding: 1rem;
  padding-right: 2rem !important;
  margin: 0 0 5px 0;
  margin-left: auto;
  border-radius: 3rem 0 0 3rem;
}

.card{
  background-color: #999;
}

.card:hover{
	transform: scaleY(1.02);
	transition: 0.7s;
	background-color: #999;
	box-shadow: 0px 5px 30px -8px #aaa;
}

.line-1{
    overflow: hidden;
    position: relative;
    margin-left:auto;
    white-space: nowrap;
}

/* Slides Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both;
}

@keyframes typewriter{
  from{max-width: 0em;}
  to{max-width: 20rem;}
}

.over{
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 500;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
}

/*
 * Joystick
*/

.space-top {
  padding-top: 10px;
}

#joystick {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  text-align: center;
  background-color: #999;
  font: 24px/300px Helvetica, Arial, sans-serif;
  cursor: grab;
  user-select: none;
  z-index: -100;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}

/*
 * Footer
*/

.mastfoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, .5);
}

.footer_social {
text-align: center;
padding: 4rem 0 2rem 0;
}

.footer_social a {
padding: 0 20px 10px 20px;
font-size: 20px;
color:#999;
text-decoration: none;
transition: all 1s ease;
}

.footer_social a:hover {
font-size: 50px;
transition: 0.7s;
border-color: #16161D;
border-bottom: 0.25rem solid;
}

.mastfoot .custom-switch{
  color: #666;
  position: relative;
  padding-left: 42px;
  bottom: -30px;
}
